<%- include("partials/header") %>
<main class="create-main">
    <h2>Create a New Post</h2>
    <form class="create-form" action="/create" method="post">
        <input class="create-title" type="text" name="title" placeholder="Enter the title" required>
        <textarea class="create-content" name="content" placeholder="Enter the content" required></textarea>
        <input class="create-button" type="submit" value="Post">
    </form>
</main>
<%- include("partials/footer") %>